fastapi>=0.104
uvicorn[standard]>=0.24
python-multipart

# Modules Lectura (tous depuis PyPI)
lectura-tokeniseur>=2.3.0
lectura-formules>=3.7.0
lectura-phonemiseur[onnx]>=4.1.0
lectura-graphemiseur[onnx]>=4.3.5
lectura-aligneur>=4.0.0
lectura-lexique>=1.4.0
lectura-g2p>=4.1.0
lectura-p2g[aligneur]>=4.6.0
lectura-correcteur>=1.1.0
lectura-monospeaker[onnx]>=3.0.0
lectura-multispeaker[onnx]>=3.0.0
lectura-diphone[local]>=2.0.0
lectura-tts-mono>=1.0.0
lectura-tts-multi>=1.0.0
lectura-tts-dipho>=1.0.0
lectura-vc-zeroshot>=1.2.0
lectura-vc-locuteurs>=1.0.0
lectura-decodeur[onnx]>=3.0.0
lectura-stt>=3.2.0
lectura-stt-formules>=0.1.0
